.main-box{
    width: 400px;
    height: 400px;
    background-color: black;
    position: relative;
}
.box-yellow{
    width: 200px;
    height: 200px;
    background-color: yellow;
    position:absolute;
    bottom: 0px;
    right: 0px;

}
.red-box{
    width: 70px;
    height: 70px;
    background-color: red;
    position: absolute;
    right: 0px;
    bottom: 90px;
    top: 0px;
}

